/* Global Styles */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
html {
  background-color: #a39bd2;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
}

/* Header Styles */

#heading {
  background-color: hsl(166, 100%, 50%);
  text-align: center;
  padding: 20px;
}

h1 {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

/* Container Styles */

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

/* List Item Styles */

.item {
 
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  justify-content: space-between;
  padding: 10px;
}

.item:last-child {
  border-bottom: none;
}



p {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  color: #00204a;
}

/* Form Styles */

form.item {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

input[type="text"] {
  flex: 1;
  height: 40px;
  padding: 10px;
  border: none;
  background: #f9f9f9;
  font-size: 16px;
  color: #00204a;
}

button {
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: hsl(166, 100%, 50%);
  color: #fff;
  font-size: 24px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

/* Footer Styles */

footer {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px;
  background-color: #f9f9f9;
}

/* About Page Styles */

.about-container {
  max-width: 600px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-top: 0;
}

p {
  font-size: 16px;
  margin-bottom: 0;
}

/* Delete Button Styles */
.delete-button {
  background-color:hsl(166, 100%, 50%);
  border: none;
  cursor: pointer;
  
}
.delete-form {
  display: flex;
  align-items: center;
  margin-left: auto;
}


.delete-button:hover {
  color: #A683E3;
}
/* Adjust icon size */
.delete-button i {
  font-size: 18px;
}

/* Bin Icon Styles */
.fa-trash {
  font-size: 20px;
  color: #999;
}
